.ql-container {
  &.ql-snow {
    border: 0 !important;
  }
  .ql-editor {
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      font-family: 'Ysabeau Office', sans-serif;
      color: #f4f4f4;
      // color: #222;
    }
  }
}

.volume_click {
  grid-area: 2 / 1 / 3 / 3;
}
