::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #e7eff4;
}

::-webkit-scrollbar-thumb {
  background-color: #83b6f3;
  border-radius: 50px;
}

.slider_background.active .slider_background-overlay {
  display: flex;
}