doctype html
html(lang='en')
	head
		title Zenpad

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		//- styles
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer")
		link(rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.core.css")
		link(rel="stylesheet" href="/css/main.min.css")

	body
			#wrapper

				.settings
					.eye
						i.fa-solid.fa-eye.icon.eye-icon
						i.fa-solid.fa-eye-slash.icon.hidden.eye-icon-slash

					.volume
						i.fa-solid.fa-volume-low.icon.volume-icon
						i.fa-solid.fa-volume-xmark.icon.hidden.volume-icon-slash

				form.files(enctype="multipart/form-data")
					input.files__file(type="file")
					input.files__upload(type="submit" value="Send")

				.buttons
					button.save Save
					button.import Import
					button.export Export

				.ql-editor
					p Okey dude...

	script(src="https://cdn.quilljs.com/1.3.6/quill.js")
	script(src="/js/main.js")