:root {
  // White
  --white-1: #fff;
  --white-2: #f4f4f4;

  // Black
  --black-1: #000;
  --black-2: #222;
  --black-3: #1a1c1e;
  --black-4: #2c3033;
  --black-5: #202325;

  // Gray
  --gray-1: #797979;
  --gray-2: #979797;
  --gray-3: #d2d2d2;

  // Yellow
  --yellow-1: #efcd75;

  // Opacity:
  --white-1-opacity-50: rgba(#fff, 0.5);
}

.MuiInputBase-root {
  width: 100%;
  .MuiSelect-select {
    width: 100%;
    padding: 7.5px 15px;
    border: 0;
    outline: none;
    background-color: #f4f4f4;
    font-family: 'Rubik', sans-serif;
    color: #222;
  }
  .MuiOutlinedInput-notchedOutline {
    border: 0;
  }
}

.MuiPaper-root {
  box-shadow: none;
  margin-top: 10px;
  .MuiList-root {
    padding: 0;
    .MuiButtonBase-root {
      background-color: var(--setting-button);
      color: #222;
      font-family: 'Rubik', sans-serif;
      &:hover {
        background-color: #d2d2d2;
      }
    }
  }
}
